glossTL/jsonl/ksl_sentence_gloss.json filter=lfs diff=lfs merge=lfs -text
glossTL/old[[:space:]]json/ksl_sentence_gloss.json filter=lfs diff=lfs merge=lfs -text
glossTL/ksl_sentence_gloss.json filter=lfs diff=lfs merge=lfs -text
glossTL/training_sentence_gloss.jsonl filter=lfs diff=lfs merge=lfs -text
